/* base */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

/* override Bootstrap defaults */
.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 50px;
}

/* landing specific styles */

.jumbotron {
  height: 600px;
  background: #eee;
}
.footer {
  width: 100%;
  padding: 20px 0;
  height: 60px;
  background-color: #eee;
}
