@import "bootstrap/variables";

/* override Bootstrap defaults */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 50px;
}


/* landing specific styles */

.jumbotron {
  height: 600px;
  background: #eee;
}
.footer {
  width: 100%;
  padding: 20px 0;
  height: $footer-height;
  background-color: $brand-primary;
  color: $white;
    a{
      color: $white;
    }
}

/* rubbish */
