@import "bootstrap";
/* override Bootstrap defaults */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin-top: $navbar-height;
}
.navbar {
  margin-bottom: 0;
}
.jumbotron {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 50px;
}
/* landing specific styles */
.jumbotron {
  height: 600px;
  color: $gray-lighter;
  background: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  line-height: $jumbotron-line-height;
  padding: 80px;
  /* background: #402960; Old browsers
  background: -moz-linear-gradient(45deg,  #402960 20%, #7cffc0 100%); FF3.6-15
  background: -webkit-linear-gradient(45deg,  #402960 20%,#7cffc0 100%); Chrome10-25,Safari5.1-6
  background: linear-gradient(45deg,  #402960 20%,#7cffc0 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#402960', endColorstr='#7cffc0',GradientType=1 ); IE6-9 fallback on horizontal gradient  */
  .jumbocontent {
    margin: 10px 0;
  }
}
.nohand {
  position: absolute;
  background: url("../images/nohands.png");
  background-repeat: no-repeat;
  height: 800px;
  width: 618px;
  right: 0;
}
.app-badge {
  margin-right: $padding_large_horizontal;
  &:hover {
    opacity: 0.8;
  }
}
.footer {
  width: 100%;
  padding: 20px 0;
  height: $footer-height;
  color: $gray-light;
  margin-top: 120px;
  a.links {
    padding: 0 $padding-small-horizontal;
    color: $gray-light;
    &:last-child {
      padding-right: 0;
    }
    &:hover {
      color: lighten($gray, 30%);
      text-decoration: none;
    }
  }
}
/* Center align the text within the three columns below the carousel */
.marketing {
  margin-top: $landing-margin;
  margin-bottom: $landing-margin;
  .col-lg-4 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  h1 {
    text-align: center;
    margin-bottom: $padding-large-vertical*6;
  }
  h3 {
    font-weight: normal;
  }
  .col-lg-4 {
    p {
      margin-right: 40px;
      margin-left: 40px;
      padding: 0 $padding-large-vertical;
    }
  }
}
.feature-divider {
  margin: $landing-margin 0;
  /* Space out the Bootstrap <hr> more */
}
/* Responsive CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  /* Bump up size of feature-heading */
  .feature-heading {
    font-size: 45px;
  }
  .hand {
    position: absolute;
    background: url("../images/beelineApp2.png");
    background-repeat: no-repeat;
    height: 829px;
    width: 698px;
  }
}
@media (min-width: 992px) {
  .feature-heading {
    margin-top: 120px;
  }
  .hand {
    position: absolute;
    background: url("../images/beelineApp2.png");
    background-repeat: no-repeat;
    height: 829px;
    width: 698px;
    right: -100px;
  }
}

  @media (min-width: 1442px) {
    .hand {
      position: absolute;
      background: url("../images/beelineApp2.png");
      background-repeat: no-repeat;
      height: 829px;
      width: 698px;
      right: 0;
    }
  }
