@import "bootstrap";
/* override Bootstrap defaults */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}


.navbar {
  margin-bottom: 0;
  letter-spacing: 1px;
  border-color: transparent;
}

.jumbotron {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 50px;
  overflow-x: hidden;
}

/* landing specific styles */

h1.heading {
    margin-bottom: $padding-large-vertical*6;
  }

.toMainContent {
  position: absolute;
  top: 650px;
  width: 100%;
  text-align: center;
  opacity: 0.7;
  .fa-angle-down {
    color: $white;
    transition: all 0.5s ease-out;
    &:hover {
      position: relative;
      top: 2px;
      opacity: 0.5;
    }
  }
}

hr.divider{
    margin-top: $landing-margin auto;
  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}


.feature-divider {
  margin: $landing-margin 0;
  /* Space out the Bootstrap <hr> more */
}

.jumbotron {
  height: 700px;
  color: $gray-lighter;
  background: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  line-height: $jumbotron-line-height;
    
  .container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    .row {
      padding: 5px 0;
    }
    .appBadgeBtn {
      img {
        height: 60px;
        margin-bottom: $padding-small-horizontal;
        border-radius: 8px;
        &:hover {
          -moz-box-shadow: 0 0 5px $white;
          -webkit-box-shadow: 0 0 5px $white;
          box-shadow: 0 0 5px $white;
        }
      }
    }
    .webApp {
      margin-top: -10px;
      margin-bottom: $padding-small-horizontal*2;
      vertical-align: middle;
      &.btn-lg {
        padding: 10px 24px;
      }
    }
    .reminder {
      p {
        float: left;
        color: lighten($brand-primary, 50%);
        font-size: $font-size-small;
        width: 80%;
      }
      .fa-2x {
        color: lighten($brand-primary, 50%);
        opacity: 0.8;
        filter: alpha(opacity=80);
        /* For IE8 and earlier */
        .fa-refresh {
          position: relative;
          float: left;
          top: 5px;
          padding-right: $padding-small-horizontal;
        }
      }
    }
  }
}

/* Center align the text within the three columns below the carousel */
.marketing {
  margin-top: $landing-margin;
  margin-bottom: $landing-margin;
  .col-lg-4 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    img {
      height: 100px;
      width: 100px;
    }
  }
    
  h3 {
    font-weight: normal;
  }
  .col-lg-4 {
    p {
      margin-right: 40px;
      margin-left: 40px;
      padding: 0 $padding-large-vertical;
    }
  }
}

.footer {
  width: 100%;
  padding: 20px 0;
  color: $gray-light;
  a.links {
    padding: 0 $padding-small-horizontal;
    color: $gray-light;
    &:last-child {
      padding-right: 0;
    }
    &:hover {
      color: lighten($gray, 30%);
      text-decoration: none;
    }
  }
}

.partners {
  img {
    margin: 40px auto;
  }
}
/* Responsive CSS
-------------------------------------------------- */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) and (max-device-width : 480px) {
  .toMainContent {
    display: none;
  }
  .jumbotron {
    .hand {
      right: 0;
      top: 0;
      left: 0;
      display: inline;
      position: absolute;
      height: 50%;
      width: 50%;
      z-index: 100;
    }
    .jumbotronContent {
      position: relative;
      float: left;
    }
  }
  footer {
    text-align: center;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) and (max-device-width : 768px) {
  .toMainContent {
    display: none;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-device-width : 992px) {
  .badgeRow {
    .badgeCol-2 {
      position: relative;
      left: -160px;
    }
  }
  /* Bump up size of feature-heading */
  .feature-heading {
    font-size: 45px;
  }
  .hand {
    position: absolute;
    background: url("../images/beelineAppHand.png");
    background-repeat: no-repeat;
    height: 820px;
    width: 690px;
    top: 100px;
    right: -400px;
  }
  .heatmap {
    position: relative;
    top: 0;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-device-width : 1200px) {
  .feature-heading {
    margin-top: $landing-margin*2;
  }
  .badgeRow {
    .badgeCol-2 {
      position: relative;
      left: -30px;
    }
  }
  .hand {
    position: absolute;
    background: url("../images/beelineAppHand.png");
    background-repeat: no-repeat;
    height: 820px;
    width: 690px;
    top: 100px;
    right: -200px;
  }
  .heatmap {
    position: relative;
    top: 120px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) and (max-device-width : 1442px) {
  .badgeRow {
    .badgeCol-2 {
      position: relative;
      left: -80px;
    }
  }
  .hand {
    position: absolute;
    background: url("../images/beelineAppHand.png");
    background-repeat: no-repeat;
    height: 820px;
    width: 690px;
    top: 100px;
    right: -100px;
  }
}
/* Super Large Devices, Super Wide Screens */
@media only screen and (min-width : 1442px) {
  .badgeRow {
    .badgeCol-2 {
      position: relative;
      left: -80px;
    }
  }
  .hand {
    position: absolute;
    background: url("../images/beelineAppHand.png");
    background-repeat: no-repeat;
    height: 820px;
    width: 690px;
    top: 100px;
    right: 0;
  }
}

.suggest {
  padding-top: $padding-large-vertical*2;
  padding-bottom: $padding-large-vertical*3;
}
