/* override Bootstrap defaults */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

.navbar {
  margin-bottom: 0; }

.jumbotron {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 50px; }
