<!DOCTYPE html>
<html lang="en">

<head>

  <!--Basic Page Needs-->
  <meta charset="utf-8">
  <title>Beeline Singapore</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta property="og:url" content="https://beeline.sg" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Beeline Singapore" />
  <meta property="og:description" content="Crowdsourced, direct shuttle to your destination" />
  <meta property="og:image" content="https://datagovsg.github.io/beeline-landing/images/beelineAppCover.png" />
  <meta name="google-signin-client_id" content="225350353651-lulsqicl7nrv40qt2pqpog2sgtpdkgjv.apps.googleusercontent.com">

  <!--Mobile Specific Metas-->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

  <!--FONT-->
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>

  <!--CSS-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/animate.css">

  <!--JS-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="https://use.fontawesome.com/e1c177a50d.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/landing.js"></script>

  <!--Favicon-->
  <link rel="icon" type="image/png" href="images/favicon.png">

  <style>

  google-map {
    width: 100%;
    height: 300px;
    display: block;
  }
  .vue-map-container {
    width: 100%; height:100%;
  }

  </style>
</head>

<body id="top">
  <!-- Static navbar -->
  <nav class="navbar navbar-static-top navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Beeline Singapore</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="index.html">Home</a></li>
          <li class="active"><a href="suggest.html">Suggest</a></li>
          <li><a class="link" href="https://www.facebook.com/beelinesg/?fref=ts" target="_blank"><span class="fa-lg">
              <i class="fa fa-facebook-square"></i>
              </span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <form class="container suggest" @submit="submit" v-cloak id="submit-form">
    <validator name="validation">
      <h1 class="heading">Suggest a new route</h1>
      <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">

          <google-map :center="center" :zoom="zoom" @g-click="click"
            v-ref:map>
            <google-marker v-if="suggestion.origin"
                            :position="suggestion.origin"
                            label="S">
            </google-marker>
            <google-marker v-if="suggestion.destination"
                            :position="suggestion.destination"
                            label="E">
            </google-marker>
            <google-polyline v-if="path" :path="path">
            </google-polyline>
          </google-map>

        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
          <form>
            <div class="form-group" v-validate-class>
              <!-- Dummy input for validation -->
              <input type="text" v-model="suggestion.origin"
                v-validate:origin="{required: true}" hidden="true">

              <label>Start address</label>
                <place-input placeholder="Street, Postal code, Building name, etc."
                  :bounds="Singapore"
                  :place.sync="suggestion.originPlace"
                  @g-place_changed="placeChanged('origin')"
                  class="form-control">
                </place-input>
              </label>
            </div>
            <div class="form-group" v-validate-class>
              <!-- Dummy input for validation -->
              <input type="text" v-model="suggestion.destination"
                v-validate:destination="{required: true}" hidden="true">

              <label>End address
                <place-input placeholder="Street, Postal code, Building name, etc."
                  :bounds="Singapore"
                  :place.sync="suggestion.destinationPlace"
                  @g-place_changed="placeChanged('destination')"
                  class="form-control">
                </place-input>
              </label>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Time at Destination</label>
              <select class="form-control" v-model="arrivalTime"
                  v-validate:arrival-time="{required: true}"
                  @focus="zoomOut()">
                <optgroup label="AM">
                  <option value="06:00">6:00 AM</option>
                  <option value="07:00">7:00 AM</option>
                  <option value="08:00">8:00 AM</option>
                  <option value="09:00">9:00 AM</option>
                </optgroup>
                <optgroup label="PM">
                  <option value="5:00">5:00 PM</option>
                  <option value="6:00">6:00 PM</option>
                  <option value="7:00">7:00 PM</option>
                  <option value="8:00">8:00 PM</option>
                </optgroup>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email Address</label>
              <input type="email" class="form-control" v-model="email" placeholder="Email"
                :disabled="emailVerification"
                v-validate:email="validators.email">
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox"> Yes, I read and agree to Beeline's <a>Privacy Policy</a> and <a>Terms of use</a>.
              </label>
            </div>
            <div class="pull-left">
              <div class="g-signin2" data-onsuccess="onSignIn"></div>
              <button type="submit" class="btn btn-default webApp"
                :disabled="!$validation.valid">
                Submit Route Suggestion
              </button>
            </div>

          </form>


        </div>

      </div>
    </validator>
  </form>

  <!-- /.row -->
  <hr class="divider">
  <!-- FOOTER -->
  <footer class="footer">

    <div class="container">

      <p class="pull-left">&copy; 2016 Beeline Singapore. &nbsp; All rights reserved.</p>
      <p class="pull-right">
        <a class="links" href="#top">Back to top</a>&middot;
        <a class="links" href="privacy.html">Privacy Policy</a>&middot;
        <a class="links" href="termsofuse.html">Terms of Use</a>
      </p>
    </div>
  </footer>

  <!-- 3rd party authentication -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/vue.resource/0.9.3/vue-resource.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js"></script>
  <script src="https://cdn.jsdelivr.net/vue.validator/2.1.4/vue-validator.min.js"></script>
  <script src="js/vue-google-maps.js"></script>
  <script src="js/suggest.js"></script>
</body>

</html>
